* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	height: 100vh;
	background-color: black;
}

#game-board {
	position: relative;
	width: 300px;
	height: 300px;
}

.tile {
	position: absolute;
	border: 1px solid white;
	width: 100px;
	height: 100px;
	color: transparent;
	font-size: 30px;
	transition: top 0.2s linear, left 0.2s linear;
	background: url('einstein.jpeg');
}

.tile:last-of-type {
	background: none;
	border: none;
}
